body{
    font-family: "Barlow", sans-serif;
    font-weight: 700;
    font-style: normal;
    width: 100%;
    margin: 0 auto;
    background-color: #3e45c9;
}

.container{
    max-width: 1080px;
    margin: 0 auto;
    padding: 0 10px;
}